# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb_checkpoints

# Umgebungsvariablen / Secrets
.env
.env.*

# Datenbank
*.sql.bak
pgdata/

# Betriebssystem
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log
